<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
	<th:block th:include="include :: header('修改用户')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
<div class="main-content">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<img id="workFlowImg"  class="img-responsive" style="width: auto;height:auto" alt="image"  th:src="@{${path}}"/>
				<p class="badge-info">
					<span><strong>点击配置流程节点权限</strong></span>
				</p>
				<div class="tabbable" id="tabs-89784">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#panel-425164" data-toggle="tab">通过角色配置</a>

						</li>
						<li >
							<a href="#panel-405853" data-toggle="tab">通过用户配置</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-425164">
							<p>
								<span style="color: red">点击以下【设置】按钮对各流程节点进行设置</span>
							</p>

							<div class="panel-group" id="accordion1" th:each="model ,modelStat:${dateList}" >

								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion1" th:href="@{'#Coll'+${modelStat.index}}" th:text="${model.name}">标签1#</a>
										</h5>
									</div>
									<div th:id="Coll+(${modelStat.index})"  th:switch="${model.id}"  class="panel-collapse collapse">
										<div class="panel-body" th:case="'startTask'">
											<p>
												<span style="color: red">此节点为起始节点不可分配(默认startTask)</span>
											</p>
										</div>
										<div class="panel-body" th:case="*">
											<button type="button" class="btn btn-w-m btn-primary" th:onclick="setRoleToActivi([[${model.id}]],[[${processId}]],[[${model.key}]])">设置审核角色</button>
										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="tab-pane" id="panel-405853">
							<p>
								<span style="color: red">点击以下【设置】按钮对各流程节点进行设置</span>
							</p>

							<div class="panel-group" id="accordion2" th:each="model ,modelStat:${dateList}" >

								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion2" th:href="@{'#Coll'+${model.id}}" th:text="${model.name}">标签1#</a>
										</h5>
									</div>
									<div th:id="Coll+(${model.id})"  th:switch="${model.id}"  class="panel-collapse collapse">
										<div class="panel-body" th:case="'startTask'">
											<p>
												<span style="color: red">此节点为起始节点不可分配(默认startTask)</span>
											</p>
										</div>
										<div class="panel-body" th:case="*">
											<button type="button" class="btn btn-w-m btn-primary" th:onclick="setUserToActivi([[${model.id}]],[[${processId}]],[[${model.key}]])">设置审核角色</button>
										</div>
									</div>
								</div>

							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script type="text/javascript">
	var prefix = ctx + "process/definition";

	/**
	 * 通过设置角色
	 * @param modelId 节点id
	 * @param processId 流程id
	 * @param modelkey 节点key
	 */
	function setRoleToActivi(modelId,processId,modelkey){

		console.log(modelId+"-----"+processId+"-----"+modelkey);
		var url= prefix+"/setFlowRole/"+modelkey+"/"+modelId+"/"+processId;
		$.modal.open("设置审核角色", url);
	}

	/**
	 * 通过设置审核用户
	 * @param modelId 节点id
	 * @param processId 流程id
	 * @param modelkey 节点key
	 */
	function setUserToActivi(modelId,processId,modelkey){
		console.log(modelId+"-----"+processId+"-----"+modelkey);
		var url= prefix+"/setFlowUser/"+modelkey+"/"+modelId+"/"+processId;
		$.modal.open("设置审核用户", url);
	}


</script>
</body>
</html>